<!DOCTYPE html>
html lang="de"
	head
		meta charset="UTF-8"/
		meta name="author" content="Werner Gundacker" /
		meta name="description" content=""/
		meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /
		meta property="og:image" content="http://www.werner-gundacker.at/assets/img/screenshot.jpg" /
		meta property="og:title" content="Kontakt - Neue Medien Gundacker" /
		meta property="og:type" content="website" /
		meta property="og:url" content="http://www.werner-gundacker.at/kontakt.html" /
		link href='assets/css/main.css' rel='stylesheet' type='text/css'
		link rel="icon" type="image/png" href="assets/img/favicon.png" /
		script type="text/javascript" src="assets/js/jquery.js"
		script type="text/javascript" src="assets/js/main.js"
		javascript:
		  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  	ga('create', 'UA-56857085-1', 'auto');
		  	ga('send', 'pageview');
		title Kontakt - Neue Medien Gundacker

	body
		
		header

			div id="menu_icon"
			
			a href="index.html" class="logo"
				img id="logo" src="assets/img/logo_spacer.jpg" alt="Neue Medien Gundacker"

			nav
				ul
					li 
						a href="index.html" Home
					li
						a href="uebermich.html" Über mich
					li
						a href="portfolio.html" Portfolio
					li
						a href="kontakt.html" class="selected" Kontakt
					li

			div class="footer"
				a href="https://www.facebook.com/neue.medien.gundacker" target="_blank" class="fb" data-title="Facebook"
				a href="https://twitter.com/WernerGundacker" target="_blank" class="twitter" data-title="Twitter"
				
				//div class="rights"
					//p © 2014

		section class="wrapper"
			div class="content"
				h2 Kontakt
				br/ 
				div class="box"
					h4 Kontakt
					'Werner Gundacker 
					br/ 
					'Kl. Nondorf 8
					br/ 
					'3911 Rappottenstein
					br/ 
					'Österreich
					br/
					br/ 
					'Tel.: 0664/9369004
					br/ 
					'E-Mail: 
					a href="mailto:office@werner-gundacker.at" office@werner-gundacker.at
					br/
					br/ 
					h4 Social Media
					a href="https://www.facebook.com/neue.medien.gundacker" target="_blank" class="sm_links"
						img src="assets/img/icons/facebook.png" alt="facebook.com/neue.medien.gundacker" 
					a href="https://twitter.com/WernerGundacker" target="_blank" class="sm_links"
						img src="assets/img/icons/twitter.png" alt="twitter.com/WernerGundacker"
					a href="http://instagram.com/wernergundacker" target="_blank" class="sm_links"
						img src="assets/img/icons/instagram.png" alt="instagram.com/wernergundacker" 
					a href="https://www.youtube.com/user/Woid4tler" target="_blank" class="sm_links"
						img src="assets/img/icons/youtube.png" alt="youtube.com/user/Woid4tler"  