<!DOCTYPE html>
html lang="de"
	head
		meta charset="UTF-8"/
		meta name="author" content="Werner Gundacker" /
		meta name="description" content=""/
		meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /
		meta property="og:image" content="http://www.werner-gundacker.at/assets/img/screenshot.jpg" /
		meta property="og:title" content="Über mich - Neue Medien Gundacker" /
		meta property="og:type" content="website" /
		meta property="og:url" content="http://www.werner-gundacker.at/uebermich.html" /
		link href='assets/css/main.css' rel='stylesheet' type='text/css'
		link rel="icon" type="image/png" href="assets/img/favicon.png" /
		script type="text/javascript" src="assets/js/jquery.js"
		script type="text/javascript" src="assets/js/main.js"
		javascript:
		  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  	ga('create', 'UA-56857085-1', 'auto');
		  	ga('send', 'pageview');
		title Über mich - Neue Medien Gundacker

	body
		
		header

			div id="menu_icon"
			
			a href="index.html" class="logo"
				img id="logo" src="assets/img/logo_spacer.jpg" alt="Neue Medien Gundacker"

			nav
				ul
					li 
						a href="index.html" Home
					li
						a href="uebermich.html" class="selected" Über mich
					li
						a href="portfolio.html" Portfolio
					li
						a href="kontakt.html" Kontakt
					li

			div class="footer"
				a href="https://www.facebook.com/neue.medien.gundacker" target="_blank" class="fb" data-title="Facebook"
				a href="https://twitter.com/WernerGundacker" target="_blank" class="twitter" data-title="Twitter"
				
				//div class="rights"
					//p © 2014

		section class="wrapper"
			div class="content"
				h2 Über mich
				br/
				div class="box"
					div class="right"
						img src="assets/img/werner.jpg" class="profilbild" alt="Werner Gundacker"
					div class="left"
						h4 Details
						'Werner Gundacker 
						br/ 
						'Kl. Nondorf 8
						br/ 
						'3911 Rappottenstein
						br/ 
						'Österreich
						br/
						br/ 
						'Tel.: 0664/9369004
						br/ 
						'E-Mail: 
						a href="mailto:office@werner-gundacker.at" office@werner-gundacker.at
						br/
						br/ 
						h4 Schulbildung
						'derzeit FH St.Pölten - Medientechnik
						br/ 
						'HTL Hollabrunn - Abteilung Elektrotechnik - Informationstechnologie
						br/ 
						'Volkschule, Hauptschule
						br/
						br/ 
						h4 Berufserfahrung
						'1 Jahr Webdeveloper bei AllesEDV GmbH
						br/ 
						'mehrere Praktika im Bereich Elektroinstallationen und IT
					div class="clear"

				div class="box"
					div class="left"
						h4 Software
						'Grafikdesign-Anwendungen (Photoshop, Illustrator)
						br/ 
						'Betriebssysteme Windows, Mac OSX, Linux, Android
						br/ 
						'Microsoft Office
						br/ 
						'Contentmanagementsysteme (Contao, Wordpress)
						br/ 
						br/ 
						h4 Programmierung
						'Webdesign (PHP, HTML5, Javascript, jQuery)
						br/ 
						'Datenbankdesign und –programmierung (MySQL)
						br/ 
						'mobile WebAPPs (jQuery)
						br/ 
						'APP-Programmierung (Android – Eclipse)
						br/ 
						'Mikrocontrollerprogrammierung (Assembler, C)
						br/ 
						br/ 
						h4 Sonstiges
						'Einrichtung von PCs, Notebooks, Router usw.
						br/ 
						br/ 

					div class="right"
						h4 Equipment
						'Fotokamera: Sony Alpha 77 inkl. 2 Objektiven (18-55mm und 18-270mm)
						br/ 
						'Outdoorkamera: GoPro Hero 3
						br/ 
						'Quadrocopter: Parrot AR.Drone 2.0
						br/
						'Macbook Pro 15 Zoll Retina
						br/ 
						'Asus G60J

					div class="clear"



